<div class="modal">
  <div class="modal-img">
    <img src="{{backdrop_path}}" alt="{{title}}" class="card__image"/>
  </div>
  <div class="modal-movie-details">
    <h2 class="modal-movie-title">{{title}}</h2>
    <span class="details-item-title">Vote / Votes</span><span class="details-item-info">{{vote_average}}/{{vote_count}}</span>
    <span class="details-item-title">Popularity</span><span class="details-item-info">{{popularity}}</span>
    <span class="details-item-title">Original Title</span><span class="details-item-info">{{original_title}}</span>
    <span class="details-item-title">Genre</span><span class="details-item-info">{{genres}}</span>
    <h3 class="about-movie-title">About</h3>
    <p class="about-movie-info">{{overview}}</p>
    <ul class = "modal-buttons list">
      <li>
        <button type ="submit" class = "modal-btn">add to watched</button>
      </li>
      <li>
        <button type = "submit" class = "modal-btn">add to queue</button>
      </li>
    </ul>
  </div>
</div> 
